<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.km.mapper.KmAuthMapper">
    <select id="queryAuthUserList" resultType="com.kakarote.km.entity.VO.AuthUserVO">
        select a.auth_id,a.auth,a.create_time,a.user_id,a.is_mobile,a.dept_id from `wk_km_auth_user` a
        where auth_id = #{authId}
    </select>
</mapper>
